<% title "Edit Prescription" %>

<% form_for @prescription do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>

  <p><%= f.submit "Update" %></p>
<% end %>
<p>
  <%= link_to "Show", @prescription %> |
  <%= link_to "View All", prescriptions_path %>
</p>
