<% title "New Prescription" %>
<%= debug params %>
<% form_for [@patient, @prescription] do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<p><%= f.submit "Create" %></p>
<% end %>
<p><%= link_to "Back to List", prescriptions_path %></p>
