<% title "Edit Store" %>

  <%= render :partial => 'form', :locals => {:f => f} %>
<p>
  <%= link_to "Show", @store %> |
    <%= link_to 'Destroy', @store, :confirm => 'Are you sure?', :method => :delete %> |
</p>
