<% form_for @store_order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label Status %><br />
    <%= f.collection_select(:status_id, Status.all, :id, :status, { :selected => @store_order.status.id }) %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
