<ul title="Patients" selected="true"> 
<% form_tag patients_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% for patient in @patients -%> 
<li><%= link_to h(patient.fullname), patient %></li> 
<% end -%> 

</ul> 
