<% form_tag patients_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<%= render :partial => "patient" %>
<%if @ward != nil %>
    <% title @ward.name %>
  <%else %>
    <% title "Patients listing" %>
    <%= link_to 'New patient', new_patient_path %>
  <% end %> 
