<ul title="Wards" selected="true">
<div class="panel"></div>
<% @wards.each do |ward| %>
  <li> <%= link_to h(ward.name + ", " + ward.specialty), ward %></li>
<% end %>
<li class="group">Actions</li>
<li>
  <%= link_to 'New ward', new_ward_path %>
  <%= link_to 'Logout', logout_path %>
  <%= link_to 'All patients', allpatients_path %>
</li>
</ul>
