<% title "Pharmacy info" %>
<% form_for(@user_session, :html => { :class => 'panel',
            :selected => 'true',
            :title => 'Login'}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <div class="row">
      <label for=":username">Username</label>
        <%= f.text_field :username %>
    </div>
    <div class="row">
      <label for=":password">Password</label>
        <%= f.password_field :password %>
    </div>

    <a class="whiteButton" type="submit" href="#">Submit</a>
<% end %>


